# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Build artifacts (PyPI)
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
.pytest_cache/
.coverage
htmlcov/

# Django
*.log
local_settings.py
db.sqlite3

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Env files (secrets)
.env
.env.*
